:root {
    --aynix-primary-color: #438ef9;
    --aynix-primary-hover: #3573c7; /* Hover per il colore principale */
    --aynix-primary-focus: #285a9a; /* Focus per il colore principale */
    --aynix-primary-lighter: #6aa8fa; /* Variante più chiara */
    --aynix-primary-darker: #2a5ea0; /* Variante più scura */

    --aynix-secondary-color: #ff6331;
    --aynix-secondary-hover: #ff7f50; /* Hover per il colore secondario */
    --aynix-secondary-focus: #e65a1a; /* Focus per il colore secondario */
    --aynix-secondary-lighter: #ff885f; /* Variante più chiara */
    --aynix-secondary-darker: #cc501a; /* Variante più scura */

    --aynix-ternary-color: #ff2902;
    --aynix-ternary-hover: #ff4d1a; /* Hover per il colore ternario */
    --aynix-ternary-focus: #cc2200; /* Focus per il colore ternario */
    --aynix-ternary-lighter: #ff6240; /* Variante più chiara */
    --aynix-ternary-darker: #b22200; /* Variante più scura */
}
